astroid==2.3.3
casttube==0.2.0
catt==0.10.3
certifi==2019.11.28
chardet==3.0.4
Click==7.0
colorama==0.4.3
idna==2.9
ifaddr==0.1.6
isort==4.3.21
lazy-object-proxy==1.4.3
mccabe==0.6.1
protobuf==3.11.3
PyChromecast==4.1.1
pylint==2.4.4
pynetworktables==2019.0.2
requests==2.23.0
six==1.13.0
urllib3==1.26.5
wrapt==1.11.2
youtube-dl==2020.2.16
zeroconf==0.24.4
